
html {
    font-family: roboto;
    color: grey;
}

.container1 {
  width: 1440px;
  height: 100px;
  box-shadow: 0 8px 6px -9px grey;
    }

ul {
  list-style-type: none;
   margin: 0;
   padding: 0;

}

li {
  display: inline;
  padding: 2%;

}

.logo
{
   margin-left: 10%;
   max-width: 100px;
}

h1
 {
   text-align: center;
   color: black;
 }

 p {
   text-align: center;
   color: grey;
 }

img {
  max-width: 70%;
  border-radius: 10px;
}

 .hero {
   text-align: center;

  }

nav {
  position: relative;
}

.box1 #graph {
    text-align:left;
    margin-left: 15%;
    vertical-align:middle;

    }

span {
  font-size: 12px;
}

#data {
    color: black;
}

.texto1 {
      line-height: .1px;
      margin-left: 23%;
      vertical-align:text-top;
      font-size: 12px;
}
